/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography (copy, headings, typography)
	- Elements (body, buttons, fields-->for forms, hr, links, lists, media, tables)
# Layouts

# Components
	- Navigation
	- Ppages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries



--------------------------------------------------------------*/
/*
$color__border-button: #Df6747 #Df6747#Df6747;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #Df6747;
$color__border-abbr: #b42f32;
*/
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.blended-gradient {
  background-blend-mode: exclusion, normal;
  background: linear-gradient(black 0, white 50%, black 100%), radial-gradient(black 0, white 70%, black 70.1%);
  height: 200px;
  width: 200px;
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
.imgBorder:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: ease 1.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.greyScaleOnhover {
  padding-left: 10%;
  margin-bottom: 0;
  filter: grayscale(80%);
}

.greyScaleOnhover:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

@keyframes rotateInfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes strokeFadeInOut {
  /* from {
      stroke-width: 0;
      
    }
    to {
      stroke-width: 0.265;
    }*/
  0% {
    stroke-width: 0;
  }
  50% {
    stroke-width: 0.265;
  }
  100% {
    stroke-width: 0;
  }
}

@keyframes coloring {
  0% {
    fill: #eb7a7a;
  }
  20% {
    fill: #e6e66d;
  }
  20% {
    fill: #d400ff;
  }
  60% {
    fill: #51519b;
  }
  80% {
    fill: #77b377;
  }
  100% {
    fill: none;
  }
}

.particles-js {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container_card {
  padding: 0px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 340px;
  width: 340px;
  height: 520px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
  overflow: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #49494d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #f57b17;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #e3e3cd;
  font-family: map((heading: "'Comic Sans MS', cursive, sans-serif", main: "'Comic Sans MS', arial, helvetica", homepageTitle: "'Gloria Hallelujah', cursive"), "main");
}

@media screen and (max-width: 760px) {
  body {
    text-align: center;
  }
}

body #foCimDiv {
  font-family: map((heading: "'Comic Sans MS', cursive, sans-serif", main: "'Comic Sans MS', arial, helvetica", homepageTitle: "'Gloria Hallelujah', cursive"), "homepageTitle");
  position: absolute;
  top: 30vh;
  left: 30%;
  color: #f1f1f1;
}

.breakBanner {
  height: 30vh;
  width: 100%;
}

#rolamBanner {
  background: linear-gradient(0deg, #e3e3cd 10%, #a3a8a4 69%);
}

#projektBanner {
  width: 100%;
}

#formBanner {
  align-items: center;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

hr#hrfrontPage {
  height: 0.2em;
  width: 50%;
  color: #Df6747;
}

.middleSalmon {
  height: 0.2em;
  width: 30vw;
  background-color: #Df6747;
  margin: 1.5em auto;
}

.middleGrey {
  height: 0.2em;
  width: 30%;
  color: #878d92;
}

.middleWhite {
  height: 0.2em;
  width: 30%;
  color: #eee;
}

.background-image {
  background-color: rgba(250, 250, 250, 0.1);
  background-image: url("../includes/img/backgroundHomeKicsAtmeret.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.imgMedium {
  display: block;
  width: 100%;
  height: auto;
  background-color: #ffe;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .imgMedium {
    width: 100%;
  }
}

.imgBorder {
  border-radius: 1.1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.imgBorder:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: ease 1.5;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > #nemUlDiv,
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

#masthead {
  /*@include port-background-image($backgroundFrontImageUrl,$color__background-body-a);
    width:100vw;
    height:100vh;*/
  background-color: rgba(250, 250, 250, 0.1);
  position: relative;
  top: 0;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0);
}

section {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0 auto;
  background-color: #e3e3cd;
  align-content: center;
  justify-content: center;
}

.divRolam {
  justify-items: center;
}

@media screen and (max-width: 760px) {
  .divRolam {
    grid-row-gap: 3vh;
  }
}

#rolamNevDiv {
  margin: 0 auto;
  text-align: center;
  justify-items: center;
}

#rolamKep {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../includes/img/rolamKepKicsi.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: right;
  background-size: cover;
  background-attachment: local;
  background-position: center top;
  margin-bottom: 1.5em;
}

#card_app {
  top: 0;
  margin-bottom: 5%;
  margin-top: 0;
}

.kisDivRolam {
  width: 30vw;
  height: 100vh;
  top: 0;
  margin-bottom: 5%;
  margin-top: 0;
}

#rolamCimSzoveg {
  align-content: left;
  text-align: left;
  justify-content: center;
  text-align: left;
  justify-content: center;
  padding: 5%;
  overflow: scroll;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 1.5em;
}

#rolamCimSzoveg :hover {
  color: white;
  transition: color 3000ms;
}

@media screen and (max-width: 760px) {
  #rolamCimSzoveg {
    font-size: 1em;
  }
}

#projectContainer {
  grid-row: 30vh;
  grid-auto-rows: min-content;
}

@media screen and (max-width: 760px) {
  #projectContainer {
    grid-template-rows: 1fr;
  }
}

.divProject {
  width: 20vw;
  height: 20vh;
  margin: 4% auto;
  justify-content: center;
  grid-column-gap: 1%;
}

@media screen and (max-width: 760px) {
  .divProject {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .divProject {
    width: 200px;
    height: 200px;
  }
}

i.fas.fa-bars {
  color: grey;
  font-size: 1.8em;
}

i.fas.fa-bars:hover {
  color: black;
}

i.fas.fa-bars.toggle {
  display: block;
}

#socialIkonok {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 0;
  font-size: 1.8em;
}

#socialIkonok i {
  align-self: center;
}

#socialIkonok i:nth-child(1) {
  color: blue;
}

/* Links
--------------------------------------------- */
a {
  color: #eee;
}

a:visited {
  color: #f6eeee;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #Df6747;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 0.5em;
  background: #f57b17;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 1.1rem;
  box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24);
}

button:hover {
  background-color: white;
  box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 1rem 3.2rem 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: 0 0.1rem #666;
  transform: translateY(4px);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #878d92;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*titles
--------------------------------------------*/
#frontpage_logo {
  display: grid;
  align-content: center;
  height: 70%;
  margin-top: 0.5em;
}

img[alt="kep_rolam"] {
  display: grid;
  opacity: 100%;
  grid-column: 1/1;
  max-height: 10vh;
  max-width: 10vh;
  width: auto;
  height: auto;
  margin: 2vw;
}

.logoDiv {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../includes/img/logoEgyKicsi.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  display: grid;
  opacity: 100%;
  grid-column: 1/1;
  min-height: 10vh;
  min-width: 20vh;
  width: 20vw;
  height: 20vh;
  margin-top: 4%;
  position: relative;
  background-attachment: inherit;
  z-index: 4;
  align-content: center;
  background-position: center;
}

@media screen and (max-width: 760px) {
  .logoDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

h1.site-title {
  display: inline-block;
  padding: 2% auto;
  position: absolute;
  left: 33%;
  top: 50%;
  font-size: 3em;
  font-family: map((heading: "'Comic Sans MS', cursive, sans-serif", main: "'Comic Sans MS', arial, helvetica", homepageTitle: "'Gloria Hallelujah', cursive"), "headings");
}

h1.entry-title {
  display: none;
}

#head-title {
  color: #49494d;
}

#projektCimDiv {
  margin: 0 auto;
  text-align: center;
}

#projektCimDiv hr:hover {
  animation-name: fadeOutIn;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site-header {
  grid-area: header;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}

.site-main {
  grid-area: main;
  height: 90vh;
  overflow: hidden;
  /* Resolves issue with <pre> elements forcing full width. */
}

.site-footer {
  grid-area: footer;
  height: 10vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2 minmax(1fr, 1fr));
  grid-gap: 0%;
  margin: 0;
  padding: 1rem;
  grid-auto-columns: auto-fit;
}

.kisGrid {
  display: grid;
  grid-template-columns: repeat(4 minmax(1fr, 1fr));
  grid-gap: 1%;
  margin: 0;
  grid-auto-columns: auto-fit;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 760px) {
  .kisGrid {
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .kisGrid {
    grid-template-rows: 1fr;
  }
}

.gridRow {
  display: grid;
  grid-template-rows: repeat(2 minmax(1fr, 1fr));
  grid-gap: 1%;
  margin: 0;
  grid-auto-columns: auto-fit;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 760px) {
  .gridRow {
    grid-template-columns: 1fr;
  }
}

.kisGridRow {
  display: grid;
  grid-template-rows: repeat(4 minmax(1fr, 1fr));
  grid-gap: 1%;
  margin: 0;
  grid-auto-columns: auto-fit;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 760px) {
  .kisGridRow {
    grid-template-columns: 1fr;
  }
}

#frontSection, #rolamSection, #projektSection {
  height: 100vh;
}

#page {
  background-color: #ccc #ccc #bbb;
  background-image: url("../includes/img/backgroundHomeKicsAtmeret.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top: 0;
  width: 100vw;
}

#frontSection {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../includes/img/backgroundHomeKicsAtmeret.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: contain;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.no-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

/*change this one, if nothere is -sidebar*/
.site {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-gap: 0%;
}

.site-and-sidebar {
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-areas: "header header" "main main" "footer footer";
}

/*#fronthead{
    grid-template-rows: 10fr;
    div{
        grid-row:1fr;
    }
}*/
/*
#site-navigation.site-navigation{
    display:flex;
    flex: 1 1 100%;
    flex-direction: row;
    #hamburgerButton{
    display:none;
    @include mobile{
        display:grid;
        grid-template-columns: max-content(1fr);
        grid-column: 1/1;
    }
    }
} //#site-navigation vagy nav


/*
nav#site-navigation{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    
    justify-content: center;
    align-items: center;
    max-width: 80%;
        margin: 0 auto;
    grid-column: 2/3;
    
    @include mobile{margin:0 auto;}
}    
  //nav#site-navigation

*/
/*esetleg email ikon lehetne
#masthead nav div:nth-child(5){ 
    grid-column:6/7;
button#calendarButton{
    max-width: fit-content;
    max-height:9vh;
    width: auto;
    
}}

#fronthead nav div:nth-child(4){ 
/*
button#calendarButton{
    max-width: fit-content;
    max-height:9vh;
    width: auto;
    margin-bottom:3vh;
    

}}
*/
/*
#primary-menu-all{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile{
        display:none;
    }
}

div#menu-primary-all{
   
 grid-column: 3/6;}
*/
footer {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #49494d;
  color: #878d92;
}

footer :nth-child(1) {
  grid-column: 1/2;
}

footer :nth-child(1) #all_menu-3 {
  flex-direction: column;
  align-content: center;
}

footer :nth-child(2) {
  grid-column: 2/3;
}

footer :nth-child(3) {
  grid-column: 3/4;
  align-self: center;
  text-align: center;
}

footer p {
  align-self: center;
}

footer p :nth-child(2) {
  justify-content: end;
}

/*footer {
    display:grid;
    grid-template-columns: repeat(6,1fr);
   background-color:$color__background-footer;
   background:$gradient_footer_reverz;
}
.menu-footer-menu-container{
  grid-column: 2/3;
      align-self: center;
  #menu-3{
    flex-direction: column;
    align-content: center;
  }
}
.itemFooter {
    grid-column: 3/5;
}

#socialIkonok.itemFooter{
  grid-column:5/6;
}*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.site-navigation {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 760px) {
  .site-navigation {
    display: none;
  }
}

.site-navigation div {
  display: flex;
  list-style: none;
  margin: 0;
  position: absolute;
  border-left: 0px;
  top: 0;
  z-index: 99999;
  width: 100%;
}

.site-navigation div li {
  position: relative;
  margin-top: 1%;
  padding: 1%;
}

.site-navigation div li:hover > ul,
.site-navigation div li.focus > ul {
  display: block;
  left: auto;
}

.site-navigation div a {
  max-width: max-content;
  margin: 1%;
  padding: 1%;
  color: #f6eeee;
}

.site-navigation div a :hover > a,
.site-navigation div a :focus > a {
  color: #Df6747;
}

@media screen and (max-width: 400px) {
  .site-navigation {
    display: none;
  }
}

a {
  display: block;
  text-decoration: none;
  margin: 1%;
  padding: 2%;
  list-style: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  overflow: inherit;
  list-style: none;
  flex: 100% 1 1;
  text-size-adjust: auto;
  margin: 5%;
  padding: 5%;
  font-size: 1.2 rem;
  font-weight: 900;
}

/*Small menu.*/
.menu-toggle,
.site-navigation.toggled ul {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  letter-spacing: 0.2em;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  justify-content: center;
}

.menu div li {
  list-style: none;
  line-height: 1.2rem;
  margin: 1%;
  padding: 1%;
}

.menu div li a {
  list-style: none;
  flex: 100% 1 1;
  text-size-adjust: auto;
  margin: 5%;
  padding: 5%;
  font-size: 1.2 rem;
  font-weight: 900;
  font-family: "'Comic Sans MS', arial, helvetica";
  color: #49494d;
  align-content: center;
}

#menu-mobil-all {
  display: none;
}

@media screen and (max-width: 760px) {
  #menu-mobil-all {
    display: block;
  }
}

#menu-mobil.menu-mobil {
  display: none;
}

@media screen and (max-width: 760px) {
  #menu-mobil.menu-mobil #menuUlDivMobil {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 10vh;
    left: 0;
    line-height: 1.5em;
    padding-bottom: 0;
    max-width: 100vw;
    min-width: fit-content;
    height: 90vh;
    justify-content: center;
    justify-items: center;
    padding: 0rem 3rem;
    margin: 0 auto;
    z-index: 31;
    background-color: #49494d;
    border-radius: 1em;
    box-shadow: 1px 0px 10px #f5e2be;
  }
  #menu-mobil.menu-mobil #menuUlDivMobil li {
    list-style: none;
    line-height: 2rem;
    margin: 5%;
    padding: 5%;
  }
  #menu-mobil.menu-mobil #menuUlDivMobil li a {
    list-style: none;
    flex: 100% 1 1;
    text-size-adjust: auto;
    text-decoration: none;
    margin: 5%;
    padding: 5%;
    font-size: 1.2 rem;
    font-weight: 900;
    font-family: "'Comic Sans MS', arial, helvetica";
    align-content: center;
  }
}

#menu-mobil.menu-mobil .nav {
  align-items: center;
}

#navCsomagoloDiv {
  padding: 0;
  margin: 0;
}

#hambiCsomagoloDiv {
  display: none;
}

@media screen and (max-width: 760px) {
  #hambiCsomagoloDiv {
    display: block;
    padding: 0%;
    margin: 0;
    width: 100%;
    min-width: fit-content;
    height: 100%;
  }
}

button#hamburgerButton {
  display: none;
}

@media screen and (max-width: 760px) {
  button#hamburgerButton {
    display: block;
    justify-self: left;
    width: fit-content;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-top: 0.5em;
    margin-left: 0.5em;
    background-color: #d69db5;
  }
  button#hamburgerButton:visited {
    background-color: #f57b17;
  }
}

.nav-links {
  display: none;
  flex-direction: column;
  left: -300px;
  line-height: 4em;
  text-align: left;
  width: 21vw;
}

.toggledMenu {
  display: flex;
  opacity: 1;
  left: 0;
  transition: left 3000s ease in;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  z-index: 3;
}

li.active a {
  text-decoration-line: underline !important;
  text-decoration-style: wavy !important;
  text-shadow: 10px 0px 15px #f57b17;
}

.menu li a {
  color: #eee;
  font-weight: bold;
}

.menu li a:visited {
  color: #f6eeee;
}

.menu li a:hover {
  color: #Df6747;
}

.site-main {
  margin: 0 0 1.5em;
}

.nav-previous {
  flex: 1 0 50%;
}

.nav-next {
  text-align: end;
  flex: 1 0 50%;
}

li:hover > ul,
li:focus > ul {
  right: auto;
}

/*
4 4 1 felosztas
homeMenuDivs format
#fronthead{
  nav#frontpage-site-navigation{
    display:grid;
  grid-template-columns: 4fr 4fr 1fr;
  height:9vh;
  div{
  &:first-child{
  grid-column: 1/2;

  }
  &:nth-child(2){
    grid-column: 2/3;
    padding:0;
  }
  &:nth-child(3){
    display: none;
    @include mobile{
      display:grid;
      grid-column:1/1;
      justify-items:left;
        align-self: center;
    justify-self: center;
    margin-left:1em;
    }
  }
  &:nth-child(4){
    grid-column: 3/4;
    justify-items:center;
        align-self: center;
    justify-self: center;
  }
}}
*/
/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/* SVG
--------------------------------------------- */
@keyframes rotateInfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes strokeFadeInOut {
  /* from {
      stroke-width: 0;
      
    }
    to {
      stroke-width: 0.265;
    }*/
  0% {
    stroke-width: 0;
  }
  50% {
    stroke-width: 0.265;
  }
  100% {
    stroke-width: 0;
  }
}

@keyframes coloring {
  0% {
    fill: #eb7a7a;
  }
  20% {
    fill: #e6e66d;
  }
  20% {
    fill: #d400ff;
  }
  60% {
    fill: #51519b;
  }
  80% {
    fill: #77b377;
  }
  100% {
    fill: none;
  }
}

.svg_image {
  max-width: fit-content;
  max-height: 20vh;
  max-width: 15wv;
}

#women3 {
  background-color: transparent;
}

#women3 #planet path:nth-child(2) {
  animation-name: rotateInfinite;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform-origin: center 60px;
}

#women3 #planet path:nth-child(3) {
  animation-name: rotateInfinite;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform-origin: center 60px;
}

#women3 #planet path:nth-child(4) {
  animation-name: rotateInfinite;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform-origin: center 60px;
}

#women3 #planet path:nth-child(5) {
  animation-name: rotateInfinite;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform-origin: center 60px;
}

#women3 #planet path:nth-child(6) {
  animation-name: rotateInfinite;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  transform-origin: center 60px;
}

.wp-block-code {
  font-size: 0;
  padding: 0;
  border: transparent;
}

#titleHome {
  width: 50%;
  display: grid;
  align-self: center;
  margin: 0 auto;
  position: relative;
  left: 50wh;
  font-size: 8em;
}

#titleHome path:nth-child(1) {
  stroke-width: 0;
  stroke-linecap: square;
  stroke-opacity: 0.5;
  stroke-dasharray: 100px;
  stroke-dashoffset: 200px;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
}

#titleHome path:nth-child(2) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 200ms;
}

#titleHome path:nth-child(3) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 400ms;
}

#titleHome path:nth-child(4) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 600ms;
}

#titleHome path:nth-child(5) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 800ms;
}

#titleHome path:nth-child(6) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 1000ms;
}

#titleHome path:nth-child(7) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 1200ms;
}

#titleHome path:nth-child(8) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 1400ms;
}

#titleHome path:nth-child(9) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 1600ms;
}

#titleHome path:nth-child(10) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 1800ms;
}

#titleHome path:nth-child(11) {
  stroke-width: 0;
  stroke-linecap: square;
  animation-name: coloring, strokeFadeInOut;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.65, 0.94);
  animation-delay: 2000ms;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #878d92;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1.5em;
}
/*# sourceMappingURL=style.css.map */