
<nav id="site-navigation" class="site-navigation">

	<div id="menuUlDiv" class="menu">
	<li><a href="index.php">Főoldal</a></li>
	<li><a href="#rolamCimSzoveg">Rólam</a></li>
	<li><a href="#projektSection">Projektek</a></li>
	<li><a href="#formSection">Kapcsolat</a></li>
	</div>

</nav><!-- #site-navigation -->


<nav id="menu-mobil">
	<div id="hambiCsomagoloDiv">
	<button id="hamburgerButton" aria-expanded="false"><i class="fas fa-bars"></i></button></div>
	
	<div id="menuUlDivMobil" class="nav-links menu menu-mobil">

	<li><a class="active" href="index.php">Főoldal</a></li>
	<li><a href="#rolamCimSzoveg">Rólam</a></li>
	<li><a href="#projektSection">Projektek</a></li>
	<li><a href="#formSection">Kapcsolat</a></li>
	</div>

	
</nav><!-- #site-navigation -->
