
<nav id="site-navigation" class="site-navigation">

	<div id="menuUlDiv2" class="menu">
	<li><a href="index.php">Főoldal</a></li>
	<li><a href="index.php#rolamCimSzoveg">Rólam</a></li>
	<li><a href="index.php#projektSection">Projektek</a></li>
	<li><a href="index.php#formSection">Kapcsolat</a></li>
	</div>

</nav><!-- #site-navigation -->


<nav id="#menu-mobil">
	<div id="hambiCsomagoloDiv">
	<button id="hamburgerButton" aria-expanded="false"><i class="fas fa-bars"></i></button></div>
	
	<div id="menuUlDivMobil2" class="nav-links menu menu-mobil acrylic">

	<li><a href="index.php">Főoldal</a></li>
	<li><a href="index.php#rolamCimSzoveg">Rólam</a></li>
	<li><a href="index.php#projektSection">Projektek</a></li>
	<li><a href="index.php#formSection">Kapcsolat</a></li>
	</div>

	
</nav><!-- #site-navigation -->