.breakBanner{
    height:40vh;
    //background-color: $color__background-body;
    width:100%;
}
#rolamBanner{
    //background:$color__banner_greyGradient_linear;
    background:$color__banner_topToBottomDark;
    position: relative;
    
    &::before{
        position: absolute;
        content:'';
        @include port-background-image($url_bg_horses, $color__banner_topToBottomDark);
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        z-index:0;
    opacity: 0.3;
        @include mobileDetailRolamPage{
            background-size: 125%;
        }
}
}

#projektBanner{
    //background-color:white;
    width:100%;
    z-index:3;
}

#formBanner{
    align-items: center;
}