.breakBanner{
    height:30vh;
    //background-color: $color__background-body;
    width:100%;
}
#rolamBanner{
    background:$color__banner_greyGradient_linear;
}

#projektBanner{
    //background-color:white;
    width:100%;
    z-index:3;
}

#formBanner{
    align-items: center;
}