button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0.5em;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
    border-radius: $border-radius_medium;
    background-color: $color__background-button-transparent;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button{
	cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 1.1rem;
  box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24);
  &:hover {
    background-color: #e1cee358;
    border-radius:2px;
    box-shadow: 0 0.8rem 1rem 0
        rgba(0, 0, 0, 0.24),
      0 1rem 3.2rem 0 rgba(0, 0, 0, 0.19),$box-shadow-glow-min;
  }
  &:active {
    //background-color: lighten(#e1cee3, 30%);
    box-shadow: 0 0.1rem #666;
    transform: translateY(4px);
  }
}
.closeButton{
outline: none;
  border: none;
	background: $color_transparent;
  font-size: $font__size_medium;
  width:1em;
  height:1em;
  padding:0;
  margin: 0.5em 1em;
}

.card-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: $font__size_medium;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

//aboutdetailpage
#btnLetolt{
  box-shadow: $box-shadow-glow-min;
  background-color: rgba(163,168,164,0.7);
  &:hover{
    border-radius: $border_radius;
    background-color: rgba(163,168,164,0.1);
  }
}