ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > #nemUlDiv
 {
	margin-bottom: 0;
	margin-left: 1.5em;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

//bulletpointos list
.bulletPointList{

	list-style-type:disc;
	font-weight: 500;

}

#tapasztalatList{
	margin:0;
	li{
		list-style-type:disc;
	list-style-type:"\f00c";

		list-style: inside;
	&::before {
  	content: "\f00c"; /* FontAwesome Unicode */
  	font-family: 'my-icon-font';
  	display: inline-block;
  	margin-left: -1.3em; /* same as padding-left set on li */
  	width: 1.3em; /* same as padding-left set on li */
		}
	}
}

#tulajdonsagList{
	list-style-type: none;
	display:flex;
	
}