ul,
ol {
	margin: 0 0 1.5em 3em;
	list-style-position: outside;
	
	
}

ul {
	list-style: disc;

		text-indent: 0rem; /* key property */
    margin-left: 2rem; /* key property */
	
}

ol {
	list-style: decimal;
}

li > #nemUlDiv
 {
	margin-bottom: 0;
	margin-left: 1.5em;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

//bulletpointos list
.bulletPointList{

	list-style-type:disc;
	font-weight: 500;

}

#tapasztalatList{
	margin:0;
	line-height: 3em;
    letter-spacing: 0.1rem;
	    background-color: rgba($color__background-footer,0.4);
		
    border-radius: $border-radius_medium;
	box-shadow: $box-shadowDombor;
    padding: 1rem;
    font-weight: 500;
	font-size: $font__size_medium;
	@include tablet{
		line-height: 2em;
		font-size: $font__size_text;
	}
	li{
		list-style-type:disc;
	

		list-style: inside;
	&::before {
  	content: ""; /* FontAwesome Unicode */
  	font-family: 'my-icon-font';
  	display: inline-block;
  	margin-left: -1.3em; /* same as padding-left set on li */
  	width: 1.3em; /* same as padding-left set on li */
		}
	}
}

#tulajdonsagList{
	margin-left:1rem;
			@include acrylic($url_bg_form,8px);
			border-radius:$border-radius_medium;
			box-shadow: $box_shadow_light_inset;
			box-shadow: $box_shadow_light;
			margin:0;
			padding:1.5rem;
			
				@include tablet{
			color:$color__text_about;
			
			}
	list-style-type: none;
	display:flex;
	    flex-direction: column;
    
    margin: 1em 0;
	line-height: normal;
	letter-spacing: 2px;
	white-space: pre-line;
	
	li{
		padding:1em;
		>i{
			span{
			font-family: $font_main2;
				
					line-height: 2rem;
			
		} //span
	}
}
}