ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > #nemUlDiv
 {
	margin-bottom: 0;
	margin-left: 1.5em;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

//bulletpointos list
.bulletPointList{

	list-style-type:disc;
	font-weight: 500;

}

#tapasztalatList{
	list-style-type:"f00c";
	font-weight: 500;
}
