#frontpage_logo{
	display:grid;
	align-content: center;
	height:70%;
	margin-top:0.5em;
	

}
img[alt="kep_rolam"]{
	display:grid;
	opacity:100%;
	grid-column: 1/1;
	max-height:20vh;
	max-width: 20vh;
	margin: 4vw;
	overflow:visible;
	position: absolute;
	z-index:5;
	@include tablet{
			max-height:10vh;
	max-width: 10vh;
    width: auto;
	height: auto;
	}
	
	

}

.site-branding{
	  width: 20vw;
    height: 20vh;
	&:before{
		content:"";
		@include port-background-image($url_logo,$color_transparent);
	background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
    height: 100%;
	width:100%;
	}
		@include tablet{
	  position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	}
	.logoDiv{
	
    display: grid;
    position:relative;
    grid-column: 1/1;
	min-height: 10vh;
    min-width: 10vw;
	width: 100%;
    height: 100%;
	align-content: center;
	justify-content: center;
	margin: 10px 2vh;
    @include tablet{
		min-height: 10vh;
    min-width: 10vh;
	margin: 5px auto;
	    
    //margin-top: 4%;
    position: relative;
	z-index:4;
	

	}
		&:after{
		content:'';
		position:absolute;
		width:150px;
		height:150px;
		@include port-background-image-parralax($url_logo,$color_transparent);
		background-position: center;
		background-size: 75%;
    	margin: 0 0;
		border-radius:180%;
		box-shadow: inset 0 0 18px whitesmoke, $box-shadow-glow;
		@include mobile{
			box-shadow: inset 0 0 18px whitesmoke, $box-shadow-glow;
			    margin-right: 10px;
    			top:15vh;
				background-size: 70%;
				//left:10vw;
		}
	}
	}//.logo-div
	
}//.site-branding


