section{
    
    width:100%;
    height:fit-content;
    margin:0;
    padding:0 auto;
    background-color: $color__background-body;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    //position:relative;
}


//rolam section
.divRolam{
    justify-items: center;
    @include tablet{
        grid-row-gap: 3vh;
    }
}
#rolamNevDiv{
    margin: 0 auto;
    text-align: center;
    justify-items: center;
}
//főcím alatti rész
#rolamKep{
    @include port-background-image($url_rolamKep,$color_transparent);
    align-content: right;
    background-size:cover;
    background-attachment: local;
    background-position: center top;
    margin-bottom:1.5em;
  

}
//div formázása
#card_app{
    top:0;
    margin-bottom:5%;
    margin-top:0;
}
.kisDivRolam{
    width:100%;
    height:auto;
      top:0;
    margin-bottom:5%;
    margin-top:0;
    

}
#rolamCimSzoveg{
    display: grid;
    margin: 100px 0;
    margin-top:110px;
    height:520px;
    align-content: left;
        text-align: left;
    justify-content: right;
    padding: 5%;
    overflow-y: scroll;
    cursor:pointer;
      background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $returnEasing;
  max-width: 340px;
  :hover{
      color:white;
      transition: color 3000ms;
      ::-ms-tooltip{
          content: "Bővebben...";
      }
  }
    font-size:$font__size_medium;
    @include tablet{
        font-size: $font__size_text;
    }
}


//---------------------------------------
//projektek nagyban
#szoftProject,#webProject{
    align-items: normal;
    padding: 5%;
    overflow: revert;
        width: 40vw;
         cursor:pointer;
    h1{
    text-align: center;
    font-size: $font__size_text;
    opacity:0.6;
    color:$color_text-main_light;
    color:$color_text_highlight_light;
    &:hover{    
    @include fadeIn(1000ms);
     transform:scale(1.2);
     transition: transform 1000ms;
        }
    @include tablet{
        text-size-adjust: auto;
        font-size: $font__size_medium;
    }
}} //#szoftProjekt, #webProjekt

//altalanos formazasa a felugro ablakoknak (#projectBoxContainer)
.projekt_container{
    display:none;
    width:95vw;
    height:95vh;
    position:fixed;
    top:1%;
    bottom:1%;
    left:1%;
    right:1%;
    background-color:$color__background-body;
    background: $gradien_projekt;
    box-shadow: $black_white_box2;
    border-radius: $border_radius;
    z-index:10;
   overflow:hidden;
    //felugrodoboz belsejének formázása
   #projectContainerSzoft{
    #projektCimDivMod{
    display:grid;
        height: 35vh;
    min-height: fit-content;
    width: 98%;
    margin-top: 2%;
    #projektNev{
        display:grid;
        text-align: center;
        padding:2%;
        margin-top:25px;
        //margin: 0 auto;
        //padding-top:0;
        justify-items: center;
        font-size: $font__size_medium;
        opacity:0.6;
        color:$color_text-main_light;
        color:$color_text_highlight_light;    
        @include fadeIn(1000ms);
        transform:scale(1.2);
        transition: transform 1000ms;
            }
        @include tablet{
            text-size-adjust: auto;
            font-size: $font__size_medium;
    }
}//#projektCimDivMod
    #particles-js{
        width:100%;
        height:100%;
    }
 }//projectContainerSzoft
} //project_container

//projektek
//ez a felugró ablak igazabol projektek
#projectBoxContainer{
    display:grid;
 grid-row:30vh;
 grid-auto-rows: min-content;
 @include tablet{
     grid-template-rows: 1fr;
 }

}
.divProject{
    width: 20vw;
    height:30vh;
    margin:4% auto;
    justify-content: center;
    grid-column-gap:2%;
    font-size: $font__size_medium;
    @include tablet{
        width: 200px;
    height:200px;
    }
     @include mobile{
         font-size: $font__size_text;
        width: 200px;
    height:200px;
    }

}


.divProject2{
    width: 20vw;
    height:20vh;
    margin:4% auto;
    padding:auto;
    justify-content: center;
    grid-column-gap:4%;
    cursor:pointer;
    font-size: $font__size_text;
    @include tablet{
        width: 200px;
    height:200px;
    }
     @include mobile{
         font-size: $font__size_text;
        width: 200px;
    height:200px;
    }

}
//képekkel feltöltés
#pythonProject{
    background-image:  $url_bg-snake, $url_bg-green-python;
    background-position: center center;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-attachment: local;

}
#cSharpProject{
    @include port-background-image-parralax($url_bg-c,$color__background-hr);
    background-position: center;
    background-size: cover;
}


#kozosProject{
    @include port-background-image-parralax($url_bg_java,$color_bg_java);
    background-position: center;
    background-size: contain;
}

//webes progis doboz
#projektH1Nev{
    text-align: center;
    padding-top:30px;
}
