

h1.site-title{
    display:inline-block;
    padding: 2% auto;
    position: absolute;
    left:33%;
    right:33%;
    top:50%;
    bottom:50%;
    font-family: map($fontFamily, "headings");

}

h1.entry-title{
    display:none;
}

#head-title{
    color:$color__text-main;
    
}
#projektCimDiv{
    margin:0 auto;
    text-align:center;
    hr:hover{
        @include fadeOutIn(2000ms);
    }

}

#projektH1Nev{
    
}

#aboutDetailH1{
font-family: $font_heading;
color:$color__text_h1Light;
font-size: $font__size_large;
  }

  #cvAboutAcordion{
      font-family: $font_heading;
color:$color__text_h1;
  }