<main id="aboutDetailMain" class="grid">
    <div id="kepBanner" class="breakBanner">

    </div>
        <h1 id="aboutDetailH1">Dr. Zsigmond Réka</h1>
        <hr class="middleWhite">
    <section id="mainAboutSectionId" class="gridRow">
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2">Profil</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p>Gyerekkorom óta szerettem a kihívásokat, problémamegoldós játékokat, feladatokat és erős vonzalmam volt a reál tudományok irányába. Sosem voltam rest új dolgokat tanulni, kipróbálni és emiatt és végtelen állat és természetszeretetm miatt fordultam az állatorvosi pálya irányába. A képalkotó diagnosztika mindig nagyon vonzott és ha lehetőségem volt rá, mind külföldön, mind Magyarországon próbáltam megtanulni a technikálat. Mivel a folyamatos szociális önfejlesztésem mellett a szakmai irányba is új területeket igyekeztem megismerni, kezdtem végleg a számítástechnika felé irányulni. Ahogy új és új területeket ismerek meg, csak nő bennem a teljesítésvágy és a bizsergető érzés, hogy minél professzionálisabb ismereteket tehessek magamévá ezen a területen is és ültethessem át a gyakorlatba, így egyszerűbbé tenni mások életét, illetve megoldani akár társadalmi jellegű problémákat is.</p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-graduate"></i>
                <h2 class="aboutH2">Tanulmányok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i></i>
                <h2 class="aboutH2">Ösztöndíjak</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-pray"></i>
                <h2 class="aboutH2">Munkahelyek</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2">Munkahelyi tapasztalatok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2">Nyelvtudás</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2">Programnyelvek</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2">Önkénteskedések</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2">Hobbik</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="cvLetoltesDiv" class="grid aboutGrid">
            <div id="cvAboutAcordion" class="aboutAcordion">
                <h2>Önéletrajz</h2>
                <button class="aboutBtn"><i class="fas fa-download"></i></i></button>
            </div> <!--aboutAcordion-->
        </div>  <!--.grid aboutGrid-->
    </section>

</main> <!--#aboutDetailMain-->
