<div class="projectContainer grid">


<div id="rolamNevDiv" class="divRolam">
    <h1 id="rolamNev">Dr. Zsigmond Réka</h1>
    <hr class="middleSalmon">
</div>

<div class="kisGridRow divRolam">
    <a href="aboutDetail.php" id="formazatlanLink" >
  <div id="card_app" class="kisDivRolam container_card">
    <card data-image="includes\\img\\rolamKepKicsi.png">
        <h1 slot="header">Kihívások</h1>
    <p slot="content">"Tudom, hogy lehetetlen, de tudom, hogy meg fogom csinálni!"</p></card>
    </a>
    </div>
    <div id="rolamCimSzoveg" class="kisDivRolam imgBorder imgMedium ">
            
        <div><p>Elsődleges célom, hogy folyamatosan gyarapodó tudásomat hatékonyan ültethessem át a gyakorlatba és ezáltal professzionális szolgáltatást tudjak nyújtani. Egész életemben a fejlődést, a tanulást tartottam fókuszban, amit nyitottságom méltán kiegészített és segített céljaim elérésében...</p></div>
            <div class="burkolo"></div>
          <div class="middle">
                <div class="textRolamCim"><a id="tovabbLink" class="tovabb" href="aboutDetail.php">Tovább</a></div><!--.text-->
          </div><!--.middle-->
    </div>


</div> <!--divRolamSzovegCsomag-->



</div><!--projectContainet-->