<main id="aboutDetailMain" class="grid">
    <div id="kepBanner" class="breakBanner">

    </div>
        <h1 id="aboutDetailH1">Dr. Zsigmond Réka</h1>
        <hr class="middleWhite">
    <section id="mainAboutSectionId" class="gridRow">
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2"> Profil</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p>Gyerekkorom óta szerettem a kihívásokat, problémamegoldós játékokat, feladatokat és erős vonzalmam volt a reál tudományok irányába. Sosem voltam rest új dolgokat tanulni, kipróbálni, így többek között emiatt és végtelen állat- és természetszeretetem miatt is fordultam az állatorvosi pálya irányába.</p>
                <p>Eddig utóbb említett területen dolgoztam, ahol szoros érdeklődésem volt a képalkotó diagnosztika felé, ami megerősített a jelenlegi pályamódosításomban is. Ha lehetőségem volt rá, mind külföldön, mind Magyarországon próbáltam megtanulni a technikálat. Mivel a folyamatos szociális önfejlesztésem mellett a szakmai irányba is új területeket igyekeztem megismerni, kezdtem végleg a számítástechnika felé fordulni. A jövőben szeretném elmélyíteni eddigi tudásomat, de emellett nagy érdeklődéssel állok az új dolgok, folyamatok megismerése felé is. </p>
                <p> Ahogy új és új területeket ismerek meg, csak nő bennem a teljesítésvágy és a tudásszomj, hogy minél professzionálisabb ismeretekre tehessek szert és ültethessem át a gyakorlatba. Bízom benne, hogy a minél hatékonyabb terv felállítása és kivitelezése után, alkalmazkodva az akár speciális körülményekhez is, érdekes problémákat fogok tudni  „orvosolni”, elsődleges szem előtt tartva a megfelelő klienskapcsolatok ápolását, illetve kialakítását. Mindezek által igyekszem értékes individuumként hasznos tagja lenni egy nyitott és kreatív csapatnak és minél nagyobb alázattal belevetni magam az új kihívások irányába és ezáltal is minél hasznosabb építőkövévé válni a társadalomnak.</p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Munkahelyi tapasztalatok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <ul id="tapasztalatList">    
                   
                    <li>Gyorsan  megtalálni, átlátni a problémákat, relevánsakat kiszűrni </li>
                    <li>Megtalálni a szakmailag és anyagilag is a legoptimálisabb megoldásokat</li>
                    <li> 
                        Feladatok struktúrálása, kiosztása
                    </li>
                    <li>Hosszú műszakokban lévő, stresszes környezetben szellemi és fizikai terhelhetőség</li>
                    <li>Sürgősségi helyzetekben gyors döntéshozatal, munkaszervezés</li>
                     <li>Képesség a különböző páciensekkel és kollégákkal lévő interakcióra, közös hang megtalálása</li>
                     <li>Biztosítani mind magam, mind munkatársaim, kollégáim biztonságát</li>
                     <li>Részletes tájékoztatás adása a beavatkozásokról, komplikációkról</li>                   
                     <li>Képalkotó diagnosztika(Ultrahang, röntgen) használata, kiértékelése </li>
                    <li>Laboratóriumi tesztek, gépek használata</li>
                    <li>Biztosítani mind magam, mind munkatársaim, kollégáim biztonságát</li>
                    <li>Sürgősségi műtétek, ivartalanítás</li>
                    <li>Aneszteziológiai (altatógép használata) ismeretek</li>
                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Interperszonális tulajdonságok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <ul id="tapasztalatList" class="bulletPointList">    
                    <li><i class="fas fa-check">Kritikus gondolkodás</i></li>
                    <li><i class="fas fa-check">
                        Gyors problémamegoldás
                    </i></li>
                   
                    <li><i class="fas fa-check"></i>Kommunikáció</i></li>
                    <li><i class="fas fa-check">Megőrizni a nyugalmamat stresszes, érzelmileg túlfűtött körülmények között</i></p></li>
                    <li><i class="fas fa-check">Klienskapcsolatok ,kialakítása, ápolása</i></li>
                    <li><i class="fas fa-check">
                        
                    </i></li>
                    <li><i class="fas fa-check">
                        Lehető legnagyobb szociális érzékenységgel, megértéssel viszonyulni embertársak és az állatok irányába
                    </i></li>
                    <li><i class="fas fa-check">
                        
                    </i></li>

                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-graduate"></i>
                <h2 class="aboutH2"> Tanulmányok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <ul class="kisCím">

                </ul>
                
            </div>
        </div>
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-graduation-cap"></i>
                <h2 class="aboutH2"> Ösztöndíjak</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-sign-language"></i>
                <h2 class="aboutH2"> Munkahelyek</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>

         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-language"></i>
                <h2 class="aboutH2"> Nyelvtudás</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         
        <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-code"></i>
                <h2 class="aboutH2"> Programnyelvek</h2> 
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p>Az eddigi igencsak diverz, kevéssé releváns munkatapasztalataim mellett tanulmányaim során több programnyelvvel is sikerült egy alap szintetn megismerkednem. Bár meglátásom szerint a programozásra egy eszközként kell tekinteni egy magasabbrendű probléma megoldásához, utóbbi időszakban a Python nyelvet kezdtem a legközelebb érezni magamhoz, annak ellenére, hogy művészetszeretetem és kreativitásom miatt a frontend irányultságot előbb tennék fel barátaim a palettára. </p>
                 <div class="programIkons">
                    <i class="fab fa-python"></i>
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js-square"></i>
                    <i class="fab fa-php"></i>
                    <i class="fab fa-light">C#</i>
                    <i class="fab fa-java fa-light"></i>
                </div>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-pray"></i>
                <h2 class="aboutH2"> Önkénteskedések</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="far fa-grin-squint-tears"></i>
                <h2 class="aboutH2"> Hobbik</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
               
                <div class="hobbiIkons">
                    <h3>Tánc</h3>
                    <i class="fas dance"><img src="../includes/img/ikonok/dance.png" style="width:1rem"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Sport</h3>
                    <i class="fas fa-running"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Túrázás</h3>
                    <i class="fas fa-hiking"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Via ferrata</h3>
                    <i class="fas fa-climb"><img src="../includes/img/ikonok/climb.png" style="width:1rem"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Barátok</h3>
                    <i class="fas fa-cocktail"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Utazás</h3>
                    <i class="fas fa-plane"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Gitár</h3>
                    <i class="fas fa-guitar"></i>
                </div>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="cvLetoltesDiv" class="grid aboutGrid">
            <div id="cvAboutAcordion" class="aboutAcordion">
                <h2>Önéletrajz</h2>
                <button class="aboutBtn"><i class="fas fa-download"></i></i></button>
            </div> <!--aboutAcordion-->
        </div>  <!--.grid aboutGrid-->
    </section>

</main> <!--#aboutDetailMain-->
