<main id="aboutDetailMain" class="grid">
    <div id="aboutDetailMainFejlec">
    <div id="kepBanner" class="breakBanner">

    </div>
        <h1 id="aboutDetailH1">Dr. Zsigmond Réka</h1>
        <hr class="middleWhite">
    </div> <!--#aboutDetailMainFejléc-->
    <section id="mainAboutSectionId" class="acrylic">
        <div id="aboutGrid1" class="grid aboutGrid">
            <div id="aboutAcordion1" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2"> Profil</h2>
                <button class="aboutBtn" aria-expanded="false"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div id="profilSzov" class="aboutSzovegek">
                <div  id="kep1" class="imgBox">
                
                </div> <!--imgBox-->
                <div class="profilText"><p>Gyerekkorom óta szerettem a kihívásokat, problémamegoldós játékokat, feladatokat és erős vonzalmam volt a reál tudományok irányába. Sosem voltam rest új dolgokat tanulni, kipróbálni, így többek között emiatt és végtelen állat- és természetszeretetem miatt is fordultam az állatorvosi pálya irányába.  </p>
               </div>
               
                <div class="profilText">
                <p>Eddig az említett szakterületen dolgoztam, ahol szoros érdeklődésem volt a képalkotó diagnosztika felé, ami megerősített a jelenlegi pályamódosításomban is.</p>
                </div> <!--profilText-->
                
                <div id="profilText3" class="profilText">
                <p> Ha lehetőségem volt rá, mind külföldön, mind Magyarországon próbáltam megtanulni a különböző technikálat, illetve kivitelezésüket. Mivel a folyamatos szociális önfejlesztésem mellett a szakmai irányba is új területeket igyekeztem megismerni, kezdtem végleg a számítástechnika felé fordulni.</p> 
                </div> <!--profilText-->
                <div  id="kep2" class="imgBox blurBorderSmall profilText">
                </div> <!--imgBox-->
                
                 <div class="profilText">
                <p>A jövőben szeretném elmélyíteni eddigi tudásomat, de emellett nagy érdeklődéssel állok az új dolgok, folyamatok megismerése felé is. Ahogy új és új területeket ismerek meg, csak nő bennem a teljesítésvágy és a tudásszomj, hogy minél professzionálisabb ismeretekre tehessek szert és ültethessem át a gyakorlatba.</p>
                 </div> <!--profilText-->
                 <div  id="kep3" class="imgBox blurBorderSmall profilText">
                       </div> <!--imgBox-->
               
                 <div class="profilText">
                <p> Bízom benne, hogy a minél hatékonyabb terv felállítása és kivitelezése után, alkalmazkodva az akár speciális körülményekhez is, érdekes problémákat fogok tudni  „orvosolni”, elsődlegesen szem előtt tartva a megfelelő klienskapcsolatok ápolását, illetve kialakítását. Mindezek által igyekszem értékes individuumként hasznos tagja lenni egy nyitott és kreatív csapatnak és minél nagyobb alázattal belevetni magam az új kihívások irányába és ezáltal is minél hasznosabb építőkövévé válni a társadalomnak.
                     
                </p></div> <!--profilText-->
              
              
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div id="aboutGrid2" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Munkahelyi tapasztalatok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div id="tapasztalatAboutSzovegek" class="aboutSzovegek">
                  <div  id="kep4" class="imgBox">
                       </div>
                <ul id="tapasztalatList">    
                    <li> Gyorsan megtalálni, átlátni a problémákat, relevánsakat kiszűrni </li>
                    <li> Megtalálni a szakmailag és anyagilag is a legoptimálisabb megoldásokat</li>
                    <li> Feladatok struktúrálása, kiosztása
                    </li>
                    <li> Hosszú műszakokban lévő, stresszes környezetben szellemi és fizikai terhelhetőség</li>
                    <li> Sürgősségi helyzetekben gyors döntéshozatal, munkaszervezés</li>
                     <li> Képesség a különböző páciensekkel és kollégákkal lévő interakcióra, közös hang megtalálása</li>
                     <li> Biztosítani mind magam, mind munkatársaim, kollégáim biztonságát</li>
                     <li> Részletes tájékoztatás adása a beavatkozásokról, komplikációkról</li>                   
                     <li> Képalkotó diagnosztika (ultrahang, röntgen) használata, kiértékelése </li>
                    <li> Laboratóriumi tesztek, gépek használata</li>
                    <li> Sürgősségi műtétek, ivartalanítás</li>
                    <li> Aneszteziológiai (altatógép használata) ismeretek</li>
                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="aboutGrid3" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Interperszonális tulajdonságok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <ul id="tulajdonsagList" class="bulletPointList profilText">    
                    <li><i class="fas fa-check"> <span>Kritikus gondolkodás</span></i></li>
                    <li><i class="fas fa-check"> <span>Gyors problémamegoldás</span>
                    </i></li>
                    <li><i class="fas fa-check"> <span>Alázat mind a munkám, mind embertársaim felé</span>
                    </i></li>
                    <li><i class="fas fa-check"><span> Kommunikáció</span></i></li>
                    <li><i class="fas fa-check"><span> Megőrizni a nyugalmamat stresszes, érzelmileg túlfűtött körülmények között</span></i></li>
                    <li><i class="fas fa-check"> <span>Klienskapcsolatok, kialakítása, ápolása</span></i></li>
                    <li><i class="fas fa-check"> <span>Lehető legnagyobb szociális érzékenységgel, megértéssel viszonyulni embertársaim és az állatok irányába</span>
                    </i></li>

                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
        <div id="aboutGrid4" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-graduate"></i>
                <h2 class="aboutH2"> Tanulmányok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div id="tanulmanyTable" class="aboutSzovegek">

                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            <th>Dokumentum</th>
                            <th colspan="2">Intézmény</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="dokument">Állatorvosi doktori diploma</td>
                            <td class="organisationPlace"><a href="https://univet.hu/hu/" class="edit-item" title="Edit" target="_blank">Állatorvos tudományi Egyetem, Budapest</a>
                            </td>
                            <td class="actions">
                                3/2015
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Állatorvosi Praxisvezető Szakállatorvosi Diploma</td>
                            <td class="organisationPlace"><a href="https://univet.hu/hu/" class="edit-item" title="Edit" target="_blank">Állatorvos tudományi Egyetem, Budapest</a>
                            </td>
                            <td class="actions">
                                2019-2021
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Szoftverfejlesztő OKJ - 54 213 05</td>
                            <td class="organisationPlace">
                                <p><a href="https://www.szamalk-szalezi.hu/" class="edit-item" title="Edit" target="_blank>SZÁMALK-Szalézi Technikum és Szakgimnázium</a></p>
                                <p><a href="https://www.egressy.info" class="edit-item" title="Edit" target="_blank"> BMSZC - Egressy Gábor Két Tanítási Nyelvű Szakgimnázium</a></p>
                            </td>
                            <td class="actions">
                                    <p>2019-2021</p>
                            </td>
                        </tr>
                     
                    </tbody>
                        <thead>
                        <tr>
                            <th>Kurzusok</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dokument">Újratervezés Program záróvizsga, kompetenciateszt</td>
                            <td class="organisationPlace"><a href="https://ujratervezes.nive.hu/kepzesek" class="edit-item" title="Edit" target="_blank">NIVE - Újratervezés Program - GINOP-6.2.8-VEKOP-20-2020-00001</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="dokument">Python Essentials 1 (Basics, v.2.0)</td>
                            <td class="organisationPlace"><a href="https://edube.org" class="edit-item" title="Edit" target="_blank">OPENEDG</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>

                        <tr>
                             <td class="dokument">Python Essentials 2 (Intermediate, v.2.0)</td>
                            <td class="organisationPlace"><a href="https://edube.org" class="edit-item" title="Edit" target="_blank">OPENEDG</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                        
                        <tr>
                             <td class="dokument">C# essentials</td>
                            <td class="organisationPlace"><a href="https://www.codecademy.com" class="edit-item" title="Edit" target="_blank">Codeacademy</a></td>
                            <td class="actions">
                                <p>2020</p>
                            </td>
                        </tr>
                        <tr>
                             <td class="dokument">SQL alapok</td>
                            <td class="organisationPlace"><a href="https://sqelme.thinkific.com/" class="edit-item" title="Edit" target="_blank">SQElme</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>

                             <tr>
                             <td class="dokument">MI kihívás</td>
                            <td class="organisationPlace"><a href="https://ai-hungary.com/hu/tartalom/mi-akademia/ertsd-meg" class="edit-item" title="Edit" target="_blank">Mesterséges Intelligencia koalíció</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                         <tr>
                             <td class="dokument">Élményinformatika 2021 Nyílt nyári kurzus</td>
                            <td class="organisationPlace"><a href="http://tet.inf.elte.hu/tetkucko/elmenyinformatika-mindenkinek/" class="edit-item" title="Edit" target="_blank">ELTE MOOC</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Egyéb tanfolyamok</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dokument">Elsősegélynyújtó oktató</td>
                            <td class="organisationPlace"><a href="http://www.ifelore.hu/" class="edit-item" title="Edit" target="_blank">Ifjúsági Elsősegélynyújtók Országos Egyesülete</a></td>
                            <td class="actions">
                                <p>2014</p>
                            </td>
                        </tr>
                           <tr>
                            <td class="dokument"> Színházi nevelés képzés</td>
                            <td class="organisationPlace"><a href="http://www.nyitottkor.hu/" class="edit-item" title="Edit" target="_blank">Nyitott Kör Egyesület</a></td>
                            <td class="actions">
                                <p>2018-2019</p>
                            </td>
                        </tr>
                         </tbody>
                </table>

            </div>  <!--id="tanulmanyTable" class="aboutSzovegek"-->
        </div>
        <div id="aboutGrid5" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-graduation-cap"></i>
                <h2 class="aboutH2"> Ösztöndíjak</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div id="osztondijTable" class="aboutSzovegek">
                <table class="layout display responsive-table">
                <thead>
                        <tr>
                            <th colspan="4">Ösztöndíjak, tapasztalatok</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dokument"><span class="dokument">Semester</span><span class="orszagText">Czech Republic</span></td>
                            <td class="dokument">ERASMUS Mobility Programmal</td>
                            <td class="organisationPlace"><a href="http://www.vfu.cz/" class="edit-item" title="Edit" target="_blank"> University of  Veterinary and Pharmaceutical Sciences Brno, Csehország </a></td>
                            <td class="actions">
                                <p>2013</p>
                            </td>
                        </tr>
                           <tr>
                            <td class="dokument"> <span class="dokument">Summer practice</span><span class="orszagText">Germany</span></td>
                            <td class="dokument"> International Student Exchange Programme</td>
                            <td class="organisationPlace"><a href="https://www.tiho-hannover.de/" target="_blank" class="edit-item" title="Edit"> Stiftung Tierärztliche Hochschule Hannover, Germany</a></td>
                            <td class="actions">
                                <p>2013</p>
                            </td>
                        </tr>
                          <tr>
                            <td class="dokument"> <span class="dokument">Gyakornok</span><span class="orszagText">Slovenia</span></td>
                            <td class="dokument"> CEEPUS Mobility Programme</td>
                            <td class="organisationPlace"><a href="http://www.vf.uni-lj.si/" target="_blank" class="edit-item" title="Edit"> Veterinary Faculty, University of Ljubljana, Slovenia </a></td>
                            <td class="actions">
                                <p>2014</p>
                            </td>
                        </tr>
   
                          <tr>
                            <td class="dokument"> <span class="dokument">Practice</span><span class="orszagText">Croatia</span></td>
                            <td class="dokument"> CEEPUS Mobility Programme</td>
                            <td class="organisationPlace"><a href="http://www.vef.unizg.hr/" target="_blank" class="edit-item" title="Edit"> Faculty of Veterinary Medicine University of Zagreb, Croatia </a></td>
                            <td class="actions">
                                <p>2015</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument"> <span class="dokument">Postgraduate Internship</span><span class="orszagText">Malta</span></td>
                            <td class="dokument"> ERASMUS+ Mobility Programme</td>
                                
                            <td class="organisationPlace"><a href="https://www.facebook.com/APH-Veterinary-Hospital-1592343264405990/" target="_blank" class="edit-item" title="Edit">Dr. Trevor’s Veterinary Hospital, San Frangisk Animal Welfare Centre, ATD 4000, Ta' Qali, Malta </a></td>
                            <td class="actions">
                                <p>2015</p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--id="osztondijTable" class="aboutSzovegek"-->
        </div>
        <div id="aboutGrid6" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-sign-language"></i>
                <h2 class="aboutH2"> Munkahelyek</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div id="munkaHelyTable" class="aboutSzovegek">
                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            <th colspan="3">Munkahelyek</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="dokument">Intern</td>
                            <td class="organisationPlace"><a href="http://www.drjuhasztamas-allatkorhaz.wlap.hu/" target="_blank" class="edit-item" title="Edit">Dr. Juhász Tamás Hospital - Budapest</a></td>
                            <td class="actions">
                                <p>2016-2017</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Veterinarian</td>
                              <td class="organisationPlace"><a href="https://www.facebook.com/BIOVET-%C3%81llatgy%C3%B3gy%C3%A1szati-K%C3%B6zpont-103995425277/" target="_blank" class="edit-item" title="Edit">Biovet Animal Care Center - Budapest</a></td>
                            <td class="actions">
                                <p>2016-2019</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Veterinarian</td>
                              <td class="organisationPlace"><a href="https://www.facebook.com/drvauallatorvosirendelo/" target="_blank" class="edit-item" title="Edit">Dr. Vau Veterinarian Clinic - Budapest</a></td>
                            <td class="actions">
                                <p>2017-2019</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Veterinarian</td>
                              <td class="organisationPlace"><a href="https://www.zugloallatorvos.hu/" target="_blank" class="edit-item" title="Edit">Zugló Veterinarian Clinic - Budapest</a></td>
                            <td class="actions">
                                <p>2019-2020</p>
                            </td>
                        </tr>
                         <tr>
                            <td class="dokument">Veterinarian</td>
                              <td class="organisationPlace"><a href="https://www.facebook.com/RetrOutcaAllatorvosiRendelo" target="_blank" class="edit-item" title="Edit">RetrO Veterinarian Clinic - Budapest</a></td>
                            <td class="actions">
                                <p>2020-</p>

                            </td>
                        </tr>
                        
                    </tbody>
                     </table>
            </div> <!--.aboutSzovegek, #munkaHelyTable-->
        </div>

         <div id="aboutGrid7" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-language"></i>
                <h2 class="aboutH2"> Nyelvtudás</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div id="nyelvek" class="aboutSzovegek">
                <div><p>Magyar</p></div>
                <div><p>Angol</p></div>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         
        <div id="aboutGrid8" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-code"></i>
                <h2 class="aboutH2"> Programnyelvek</h2> 
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->

            <div class="aboutSzovegek">
                  <div class="programIkons">
                    <i class="fab fa-python"></i>
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js-square"></i>
                    <i class="fab fa-php"></i>
                    <i class="fab fa-light">C#</i>
                    <i class="fab fa-java fa-light"></i>
                </div>
                <p>Az eddigi igencsak diverz, kevéssé releváns munkatapasztalataim mellett tanulmányaim során több programnyelvvel is sikerült egy alap szinten megismerkednem. Bár meglátásom szerint a programozásra egy eszközként kell tekinteni egy magasabbrendű probléma megoldásához, utóbbi időszakban a Python nyelvet kezdtem a legközelebb érezni magamhoz, annak ellenére, hogy művészetszeretetem és kreativitásom miatt a frontend irányultságot előbb tennék fel barátaim a palettára. </p>
               
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div id="aboutGrid9" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-pray"></i>
                <h2 class="aboutH2"> Önkéntes állatorvosi tapasztalatok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div id="onkentesTable" class="aboutSzovegek">
                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            <th colspan="3">Helyszín</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="dokument"> Gyakornok</td>
                            <td class="organisationPlace"><a href="https://www.facebook.com/APH-Veterinary-Hospital-1592343264405990/" target="_blank" class="edit-item" title="Edit">Dr. Trevor’s Veterinary Hospital, San Frangisk Animal Welfare Centre, ATD 4000, Ta' Qali, Málta</a></td>
                            <td class="actions">
                                <p>2013</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Gyakornok</td>
                              <td class="organisationPlace"><a href="https://hungarovetrendelo.hu/" target="_blank" class="edit-item" title="Edit">Hungarovet Kisállatrendelő - Budapest</a></td>
                            <td class="actions">
                                <p>2016-2017</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Gyakornok, Állatorvos</td>
                              <td class="organisationPlace"><a href="https://allatorvos-obuda.hu/" target="_blank" class="edit-item" title="Edit">Curiositas Kisállatrendelő - Budapest</a></td>
                            <td class="actions">
                                <p>2015-</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Gyakornok</td>
                              <td class="organisationPlace"><a href="http://www.brandonvetclinic.com/" target="_blank" class="edit-item" title="Edit">Brandon Pet Veterinary Hospital - VIC, Ausztrália</a></td>
                            <td class="actions">
                                <p>2015</p>
                            </td>
                        </tr>                   
                    </tbody>
                     </table>
            </div> <!--.aboutSzovegek, #munkaHelyTable-->
        </div>  <!--.grid aboutGrid-->
         <div id="aboutGrid10" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="far fa-grin-squint-tears"></i>
                <h2 class="aboutH2"> Hobbies</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div id="hobbik" class="aboutSzovegek">
               
                <div class="hobbiIkons">
                    
                    <img src="../includes/img/ikonok/dance.png">
                    <h3>Dance</h3>
                </div>
                <div class="hobbiIkons">
                    
                    <i class="fas fa-running"></i>
                    <h3>Sport</h3>
                </div>
                <div class="hobbiIkons">
                    <i class="fas fa-hiking"></i>
                    <h3>Hiking</h3>
                </div>
                <div class="hobbiIkons">
                    <img src="../includes/img/ikonok/climb.png">
                    <h3>Via ferrata</h3>
                </div>
                <div class="hobbiIkons">
                    
                    <i class="fas fa-cocktail"></i>
                    <h3>Friends</h3>
                </div>
                <div class="hobbiIkons">
                    
                    <i class="fas fa-plane"></i>
                    <h3>Traveling</h3>
                </div>
                <div class="hobbiIkons">
                    
                    <i class="fas fa-guitar"></i>
                    <h3>Guitar</h3>
                </div>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="cvLetoltesDiv" class="grid aboutGrid">
            <div id="cvAboutAcordion" class="aboutAcordion">
                <h3>Resumé</h3>
                <button id="btnLetolt" class="" ><a href="includes\docs\Resume_Dr_Zsigmond_Reka_.pdf" target="_blank"><i class="fas fa-download">
                </i></a></button>
            </div> <!--aboutAcordion-->
        </div>  <!--.grid aboutGrid-->
    </section>

</main> <!--#aboutDetailMain-->
