<main id="aboutDetailMain" class="grid">
    <div id="aboutDetailMainFejlec">
    <div id="kepBanner" class="breakBanner">

    </div>
        <h1 id="aboutDetailH1">Dr. Zsigmond Réka</h1>
        <hr class="middleWhite">
    </div> <!--#aboutDetailMainFejléc-->
    <section id="mainAboutSectionId" class="gridRow">
        <div id="aboutGrid1" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-alt"></i>
                <h2 class="aboutH2"> Profil</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p>Gyerekkorom óta szerettem a kihívásokat, problémamegoldós játékokat, feladatokat és erős vonzalmam volt a reál tudományok irányába. Sosem voltam rest új dolgokat tanulni, kipróbálni, így többek között emiatt és végtelen állat- és természetszeretetem miatt is fordultam az állatorvosi pálya irányába.</p>
                <p>Eddig ezen a területen is dolgoztam, ahol szoros érdeklődésem volt a képalkotó diagnosztika felé, ami megerősített a jelenlegi pályamódosításomban is. Ha lehetőségem volt rá, mind külföldön, mind Magyarországon próbáltam megtanulni a különböző technikálat, illetve kivitelezésüket. Mivel a folyamatos szociális önfejlesztésem mellett a szakmai irányba is új területeket igyekeztem megismerni, kezdtem végleg a számítástechnika felé fordulni. A jövőben szeretném elmélyíteni eddigi tudásomat, de emellett nagy érdeklődéssel állok az új dolgok, folyamatok megismerése felé is. </p>
                <p> Ahogy új és új területeket ismerek meg, csak nő bennem a teljesítésvágy és a tudásszomj, hogy minél professzionálisabb ismeretekre tehessek szert és ültethessem át a gyakorlatba. Bízom benne, hogy a minél hatékonyabb terv felállítása és kivitelezése után, alkalmazkodva az akár speciális körülményekhez is, érdekes problémákat fogok tudni  „orvosolni”, elsődlegesen szem előtt tartva a megfelelő klienskapcsolatok ápolását, illetve kialakítását. Mindezek által igyekszem értékes individuumként hasznos tagja lenni egy nyitott és kreatív csapatnak és minél nagyobb alázattal belevetni magam az új kihívások irányába és ezáltal is minél hasznosabb építőkövévé válni a társadalomnak.</p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div id="aboutGrid2" class="aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Munkahelyi tapasztalatok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <ul id="tapasztalatList">    
                    <li>Gyorsan  megtalálni, átlátni a problémákat, relevánsakat kiszűrni </li>
                    <li>Megtalálni a szakmailag és anyagilag is a legoptimálisabb megoldásokat</li>
                    <li> 
                        Feladatok struktúrálása, kiosztása
                    </li>
                    <li>Hosszú műszakokban lévő, stresszes környezetben szellemi és fizikai terhelhetőség</li>
                    <li>Sürgősségi helyzetekben gyors döntéshozatal, munkaszervezés</li>
                     <li>Képesség a különböző páciensekkel és kollégákkal lévő interakcióra, közös hang megtalálása</li>
                     <li>Biztosítani mind magam, mind munkatársaim, kollégáim biztonságát</li>
                     <li>Részletes tájékoztatás adása a beavatkozásokról, komplikációkról</li>                   
                     <li>Képalkotó diagnosztika (ultrahang, röntgen) használata, kiértékelése </li>
                    <li>Laboratóriumi tesztek, gépek használata</li>
                    <li>Sürgősségi műtétek, ivartalanítás</li>
                    <li>Aneszteziológiai (altatógép használata) ismeretek</li>
                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="aboutGrid3" class="aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-tasks"></i>
                <h2 class="aboutH2"> Interperszonális tulajdonságok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <ul id="tulajdonsagList" class="bulletPointList">    
                    <li><i class="fas fa-check">Kritikus gondolkodás</i></li>
                    <li><i class="fas fa-check">
                        Gyors problémamegoldás
                    </i></li>
                   
                    <li><i class="fas fa-check">Kommunikáció</i></li>
                    <li><i class="fas fa-check">Megőrizni a nyugalmamat stresszes, érzelmileg túlfűtött körülmények között</i></p></li>
                    <li><i class="fas fa-check">Klienskapcsolatok ,kialakítása, ápolása</i></li>
                    <li><i class="fas fa-check">
                        Lehető legnagyobb szociális érzékenységgel, megértéssel viszonyulni embertársak és az állatok irányába
                    </i></li>

                </ul>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
        <div id="aboutGrid4" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-user-graduate"></i>
                <h2 class="aboutH2"> Tanulmányok</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div id="tanulmanyTable" class="aboutSzovegek">

                <table class="layout display responsive-table">
                    <thead>
                        <tr>
                            <th>Dokumentum</th>
                            <th colspan="2">Intézmény</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="dokument">Állatorvosi doktori diploma</td>
                            <td class="organisationPlace"><a href="https://univet.hu/hu/" class="edit-item" title="Edit">Állatorvos tudományi Egyetem</a>
                            <p> Állatorvostudományi Egyetem, Budapest
                                </p></td>
                            <td class="actions">
                                3/2015
                            </td>
                        </tr>
                        <tr>
                            <td class="dokument">Szoftverfejlesztő OKJ - 54 213 05</td>
                            <td class="organisationPlace"><p>SZÁMALK-Szalézi Technikum és Szakgimnázium</p>

                            <p>BMSZC - Egressy Gábor Két Tanítási Nyelvű Szakgimnázium</p>
                            </td>
                            <td class="actions">
                                    <p>2019-2021</p>
                            </td>
                        </tr>
                    </tbody>
                        <thead>
                        <tr>
                            <th>Kurzusok</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dokument">Újratervezés Program záróvizsga, kompetenciateszt</td>
                            <td class="organisationPlace"><a href="https://ujratervezes.nive.hu/kepzesek" class="edit-item" title="Edit">NIVE - Újratervezés Program - GINOP-6.2.8-VEKOP-20-2020-00001</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="dokument">Python Essentials 1 (Basics, v.2.0)</td>
                            <td class="organisationPlace"><a href="https://edube.org" class="edit-item" title="Edit">OPENEDG</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>

                        <tr>
                             <td class="dokument">Python Essentials 2 (Intermediate, v.2.0)</td>
                            <td class="organisationPlace"><a href="https://edube.org" class="edit-item" title="Edit">OPENEDG</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                        
                        <tr>
                             <td class="dokument">C# essentials</td>
                            <td class="organisationPlace"><a href="https://www.codecademy.com" class="edit-item" title="Edit">Codeacademy</a></td>
                            <td class="actions">
                                <p>2020</p>
                            </td>
                        </tr>
                        <tr>
                             <td class="dokument">SQL alapok</td>
                            <td class="organisationPlace"><a href="https://sqelme.thinkific.com/" class="edit-item" title="Edit">SQElme</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>

                       
                            <tr>
                             <td class="dokument">MI kihívás</td>
                            <td class="organisationPlace"><a href="https://ai-hungary.com/hu/tartalom/mi-akademia/ertsd-meg" class="edit-item" title="Edit">Mesterséges Intelligencia koalíció</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                             <tr>
                             <td class="dokument">MI kihívás</td>
                            <td class="organisationPlace"><a href="https://ai-hungary.com/hu/tartalom/mi-akademia/ertsd-meg" class="edit-item" title="Edit">Mesterséges Intelligencia koalíció</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>
                         <tr>
                             <td class="dokument">Élményinformatika 2021 Nyílt nyári kurzus</td>
                            <td class="organisationPlace"><a href="http://tet.inf.elte.hu/tetkucko/elmenyinformatika-mindenkinek/" class="edit-item" title="Edit">ELTE MOOC</a></td>
                            <td class="actions">
                                <p>2021</p>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div id="aboutGrid5" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-graduation-cap"></i>
                <h2 class="aboutH2"> Ösztöndíjak</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>
        <div id="aboutGrid6" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-sign-language"></i>
                <h2 class="aboutH2"> Munkahelyek</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div>
            <div class="aboutSzovegek">
                <p></p>
            </div>
        </div>

         <div id="aboutGrid7" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-language"></i>
                <h2 class="aboutH2"> Nyelvtudás</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p>Magyar</p>
                <p>Angol</p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         
        <div id="aboutGrid8" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-code"></i>
                <h2 class="aboutH2"> Programnyelvek</h2> 
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->

            <div class="aboutSzovegek">
                  <div class="programIkons">
                    <i class="fab fa-python"></i>
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js-square"></i>
                    <i class="fab fa-php"></i>
                    <i class="fab fa-light">C#</i>
                    <i class="fab fa-java fa-light"></i>
                </div>
                <p>Az eddigi igencsak diverz, kevéssé releváns munkatapasztalataim mellett tanulmányaim során több programnyelvvel is sikerült egy alap szinten megismerkednem. Bár meglátásom szerint a programozásra egy eszközként kell tekinteni egy magasabbrendű probléma megoldásához, utóbbi időszakban a Python nyelvet kezdtem a legközelebb érezni magamhoz, annak ellenére, hogy művészetszeretetem és kreativitásom miatt a frontend irányultságot előbb tennék fel barátaim a palettára. </p>
               
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->

         <div id="aboutGrid9" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="fas fa-pray"></i>
                <h2 class="aboutH2"> Önkénteskedések</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
                <p></p>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="aboutGrid10" class="grid aboutGrid">
            <div id="" class="aboutAcordion">
                <i class="far fa-grin-squint-tears"></i>
                <h2 class="aboutH2"> Hobbik</h2>
                <button class="aboutBtn"><i class="fas fa-chevron-down"></i></button>
            </div> <!--aboutAcordion-->
            <div class="aboutSzovegek">
               
                <div class="hobbiIkons">
                    <h3>Tánc</h3>
                    <i class="fas dance"><img src="../includes/img/ikonok/dance.png" style="width:1rem"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Sport</h3>
                    <i class="fas fa-running"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Túrázás</h3>
                    <i class="fas fa-hiking"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Via ferrata</h3>
                    <i class="fas fa-climb"><img src="../includes/img/ikonok/climb.png" style="width:1rem"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Barátok</h3>
                    <i class="fas fa-cocktail"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Utazás</h3>
                    <i class="fas fa-plane"></i>
                </div>
                <div class="hobbiIkons">
                    <h3>Gitár</h3>
                    <i class="fas fa-guitar"></i>
                </div>
            </div> <!--aboutSzovegek-->
        </div>  <!--.grid aboutGrid-->
         <div id="cvLetoltesDiv" class="grid aboutGrid">
            <div id="cvAboutAcordion" class="aboutAcordion">
                <h2>Önéletrajz</h2>
                <button class="aboutBtn"><i class="fas fa-download"></i></i></button>
            </div> <!--aboutAcordion-->
        </div>  <!--.grid aboutGrid-->
    </section>

</main> <!--#aboutDetailMain-->
