<div class="projectContainer grid">


<div id="rolamNevDiv" class="divRolam">
    <h1 id="rolamNev">Dr. Zsigmond Réka</h1>
    <hr class="middleSalmon">
</div>

<div class="kisGridRow divRolam">
  <div id="card_app" class="kisDivRolam container_card">
    <card data-image="includes\\img\\rolamKepKicsi.png">
        <h1 slot="header">Kihívások</h1>
    <p slot="content">"Tudom, hogy lehetetlen, de tudom, hogy meg fogom csinálni!"</p></card>
    </div>
    <div id="rolamCimSzoveg" class="kisDivRolam imgBorder imgMedium">
        <a id="tovabbLink" class="tovabb" href="aboutDetail.php"><p>Elsődleges célom, hogy folyamatosan gyarapodó tudásomat hatékonyan ültethessem át a gyakorlatba és ezáltal professzionális szolgáltatást tudjak nyújtani. Egész életemben a fejlődést, a tanulást tartottam fókuszban, amit nyitottságom méltán kiegészített és segített céljaim elérésében...</a>
 </p>
    </div>


</div> <!--divRolamSzovegCsomag-->



</div><!--projectContainet-->