



<footer class="site-footer"><p>Dr. Zsigmond Réka</p><p>Copyright 2021 </p><p>email: drzsigmondre'kukac'gmail.com</p></footer>
</div> <!--#page .no-sidebar-->

<script src="node_modules\\jquery\\dist\\jquery.js"></script>
<script  src="node_modules\\jquery-vide\\dist\\jquery.vide.js"></script>
<script src="node_modules\vue\vue.js"></script>
<script src="node_modules\\particles\\particles.js"></script>
<!--<script src="js\\stats.js"></script>-->
<script src="js\\card_app.js"></script>
<script src="js\\navigation.js"></script>
<script src="js\\script.js"></script>
</body>
</html>