    
 
    <div class="form-wrapper">
    <form action="" class="contact-form acrylic" method="post">
                   
                        <legend class="form-title">Ha bármi kérdése van <i class="fas fa-envelope"></i></legend>
                        
                        <div class="form-control">
                           
                            <input type="text" id="nev" placeholder="Tündér Kata" name="nev">
                            <i class="fa fa-user"></i>
                            <i class="far fa-smile-wink"></i>
                            <i class="fas fa-frown-open"></i>
                            <p class="hibaUzi">Kérem adja meg a nevét!</p>
                        </div>
                        <div class="form-control">
                            <input type="text" id="email" placeholder="wonderfulDay88@mail.com" name="email">
                            <i class="fas fa-at"></i>
                            
                            <i class="far fa-smile-wink"></i>
                            <i class="fas fa-frown-open"></i>
                            <p class="hibaUzi">Kérem valós emailcímet adjon meg!</p>
                        </div>
                            
                        <div class="form-control">
                            
                            <textarea id="textArea" name="message" placeholder="Üzenet" required></textarea>
                            
                        </div>

                
                    <div class="form-control">
                        <button type="submit" name="formBtn" id="formBtn" value="Küldés" class="submitBtn" disabled>
                            { formControl }
                             <i class="form-spinner"></i>
                                <span class="state">
                            Küldés</span></button> 
                        </div>
                   </div>

                </form>
    </div><!--.form-wrapper-->