<main class="site-main">
<!--<div id="particles-js" class="absolute_layout"> -->
<section id="frontSection" class="mainSection">
    <div id="foCimDiv">
    <h1>Dr. Zsigmond Réka</h1>
    <hr id="hrfrontPage">
    <h2>Szoftverfejlesztő, Állatorvos</h2></div><!--foCimDiv-->
    <div class="demo">
    <a href="#rolamSection"><span></span>Scroll</a></div> 
    </section><!--frontSection-->
    <!--</div>particles-->
<div id="rolamBanner" class="breakBanner"></div>
<section id="rolamSection" class="mainSection">
    { rolam }
    <div class="demo">
<a href="#projektSection"><span></span></a></div>
</section>
<div id="projektBanner"  class="breakBanner" data-vide-bg="includes\videos\clouds" data-vide-options="loop: true, muted: true, position: center,resizing: true,playbackRate: 0.5"></div>
<section id="projektSection" class="mainSection">
     <!--<div id="particles-js"> -->
    { projekt }
    <!--</div>particles--> 
    <div class="demo">
    <a href="#formSection"><span></span></a></div>
</section>
<div id="projektBanner" class="breakBanner"data-vide-bg="includes\videos\clouds" data-vide-options="loop: true, muted: true, position: center,resizing: true,playbackRate: 0.5">
    
</div>
<section id="formSection" class="mainSection">
    { form }

    <div id="scrollTopBtn" class="demo2">
 <a href="#frontSection"><span></span><span></span><span></span></a></div>
</section>


</main>



    
