<div id="projectContainerFoOldal" class="kisGrid">
    
    <div id="projektCimDiv" class="divRolam">
        <h1 id="projektH1Nev">Projektek</h1>
        <hr class="middleSalmon">
    </div>

<div class="kisGridRow divRolam">

    <!--<div id="card_app" class="divProject container_card">
        <card id="szoftCard" data-image="includes\\img\\rolamKepKicsi.png">
            <h1 slot="header">Szoftverfejlesztés</h1>
        <p slot="content"></p></card>
    </div>-->
    <div id="particles-js">
    <div id="szoftProject" class="divProject card">
        <h1>Szoftverfejlesztés</h1>
        <div id="projectBoxContainer" class="projekt_container">
            { projektek }
        </div><!--#projectBoxContainer-->
    </div>
</div><!--particles-->
    <div id="particles-js">
    <div id="webProject" class="divProject card">
        <h1>Webfejlesztés</h1>
        <div id="webBoxContainer" class="projekt_container">
            { projektWeb }
        </div>
    </div>
</div> <!--particles-->

</div><!--kisGridRow-->

</div><!--projectContainetFooldal-->