
<!--
    <div id="projectBoxContainer" class="projekt_container ">
         ebben van benne-->

<div id="projectContainerSzoft" class="">
     <button id="projektCloseBtn" class="closeButton"><i class="fas fa-window-close"></i></button>
    <!--<div id="particles-p-js" class="grid absolute_layout">-->
    <div id="projektCimDivMod" class="divRolam">

        <h2 id="projektNev">Projektek</h2>
        <hr class="middleSalmon">
    </div>

    <div class="gridRowHarom">

        <div id="pythonProject" class="divProject2 imgBorder">
        </div>
        <div id="cSharpProject" class="divProject2 imgBorder">
           
        </div>
        <div id="kozosProject" class="divProject2 imgBorder">
            
        </div>

    </div><!--gridRowHarom-->
    <!--</div>--> <!--grid, particles-->
</div><!--#projectContainet-->