
<div id="projectContainer" >
     <button id="projektClose" class="closeButton"><i class="fas fa-window-close"></i></button>
    <div id="particles-p-js" class="grid">
    <div id="projektCimDivMod" class="divRolam">

        <h2 id="projektNev">Projektek</h2>
        <hr class="middleSalmon">
    </div>

    <div class="gridRowHarom">

        <div id="pythonProject" class="divProject2 imgBorder">
        </div>
        <div id="cSharpProject" class="divProject2 imgBorder">
            <h2></h2>
        </div>
        <div id="kozosProject" class="divProject2 imgBorder">
            
        </div>

    </div><!--kisGridRow-->
    </div> <!--kisGrid, particles-->
</div><!--projectContainet-->