
<!--
    <div id="projectBoxContainer" class="projekt_container ">
         ebben van benne-->

<div id="projectContainerSzoft" class="">
     <button id="projektCloseBtn" class="closeButton"><i class="fas fa-window-close"></i></button>
    <!--<div id="particles-p-js" class="grid absolute_layout">-->
    <div id="projektCimDivMod" class="divRolam">

        <h2 id="projektNev">Projektek</h2>
        <hr class="middleDarkGrey">
    </div>

    <div class="flexRowHarom">
        <!--<div class="card-work">
        <div class="card-content">
            <h2 class="card-title">Önismerkedő projekt 1.</h2>
            <p class="copy">Reszponzív WordPress sablon fejlesztése</p><button class="card-btn"><i class="fab fa-github-square"></i></button>
        </div>
    </div>-->
    <div class="page-content2">
        
        <div id="szoftCard-work" class="card-work">
            <div id="pythonProject" class="card-content">
                
                <h2 class="card-title">Python</h2>
                <p class="copy">GUI és konzolos alkalmazások</p><button class="card-btn"><a href="https://github.com/Szalamandra/pythonPicking" class="gitHubLink" target="_blank">
                <i class="fab fa-github-square"></i></a></button>
            
            </div> <!--#pythonproject-->
        </div><!--card-work-->
        <div id="szoftCard-work" class="card-work">
            <div id="cSharpProject" class="card-content">
                <h2 class="card-title">C#</h2>
                <p class="copy">GUI és konzolos alkalmazások</p><button class="card-btn"><a href="https://github.com/Szalamandra/pythonPicking" class="gitHubLink" target="_blank">
                <i class="fab fa-github-square"></i></a></button>
            </div><!--#cSharpproject-->
            </div><!--card-work-->

            <div id="szoftCard-work" class="card-work">
            <div id="kozosProject" class="card-content">
                <h2 class="card-title">Java</h2>
                <p class="copy">Közös projektek</p><button class="card-btn"><a href="https://github.com/Szalamandra/oraimunkak-miniprojektek/tree/master/java" class="gitHubLink" target="_blank">
                <i class="fab fa-github-square"></i></a></button>
            </div><!--#kozosproject-->
            </div><!--card-work-->
        </div> <!--.page-content-->
    </div><!--flexRowHarom-->
    <!--</div>--> <!--grid, particles-->
</div><!--#projectContainet-->