
<!--
    <div id="webBoxContainer" class="projekt_container ">
         ebben van benne-->

<div id="projectWebContainer" class="kisGrid">
    <button id="projektCloseBtnWeb" class="closeButton"><i class="fas fa-window-close"></i></button>
    <div id="webCimDivMod" class="divRolam">
        
        <h2 id="projektH1Nev">Webes munkák</h2>
        <hr class="middleSalmon">
    </div>

<div class="page-content">
    <!--kartyak-->
        <div class="card-work">
        <div class="card-content">
            <h2 class="card-title">Önismerkedő projekt 1.</h2>
            <p class="copy">Reszponzív WordPress sablon fejlesztése</p><button class="card-btn"><i class="fab fa-github-square"></i></button>
        </div>
    </div>
    <div class="card-work">
        <div class="card-content">
            <h2 class="card-title">Önismerkedő projekt 2.</h2>
            <p class="copy"></p><button class="card-btn"><i class="fab fa-github-square"></i></button>
        </div>
    </div>
    <div class="card-work">
        <div class="card-content">
            <h2 class="card-title">Művész projekt</h2>
            <p class="copy">Kezdetleges fotógaléria készítése, saját készítésű háttér gyakorlása</p><button class="card-btn"><i class="fab fa-github-square"></i></button>
        </div>
    </div>
    <div class="card-work">
        <div class="card-content">
            <h2 class="card-title">Diéta projekt</h2>
            <p class="copy">Interaktív menü készítése, formázása</p><button class="card-btn"><i class="fab fa-github-square"></i></button>
        </div>
    </div>
  
</div><!--kisGridRow-->

</div><!--#projectWebContainet-->