
<div id="projectContainer" class="kisGrid">
    <button id="projektClose" class="closeButton"><i class="fas fa-window-close"></i></button>
    <div id="projektCimDivMod" class="divRolam">
        <span class="js-count-particles"></span>
        <h2 id="rolamNev">Projektek</h2>
        <hr class="middleSalmon">
    </div>

<div class="kisGridRow divRolam">

    <div id="pythonProject" class="divProject imgBorder"></div>
    <div id="cSharpProject" class="divProject imgBorder"></div>
    <div id="kozosProject" class="divProject imgBorder"></div>

</div><!--kisGridRow-->

</div><!--projectContainet-->