#aboutDetailMainFejlec{
    #kepBanner{
        position: relative;
        &::before{
            content:'';
            position: absolute;
            @include port-background-image($url_logo,$color_transparent);
            background-size: contain;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center top;
    height: 70%;
    top: 0;
    bottom: 30%;
    right: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
     transform: translate(-50%, 40%);
     /*for rounded site
         width: 16%;
    border-radius: 120px;
    box-shadow: inset 2px 3px 3px 5px ghostwhite,0px 3px 3px 10px brown;
            */
        }
    }
    text-align: center;
    padding:5vh;
    .middleWhite{
        margin:10px auto 30px auto;
    }
}

.aboutAcordion{
    display:flex;
    max-height: $font__size_large;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    padding: 5px;
    
}
.aboutSzovegek{
     margin: 0 5px;
    padding: 5px;
    text-align:justify;
    text-indent: $font__size_medium;

}
.aboutBtn{
    box-shadow: $box-shadow-glow-min;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    align-self: center;
    background-color: inherit;
    opacity: 0.8;
    padding: 5px 5px;
}

//egyes nagyobb blokkok 
.aboutGrid{
    @include tablet{
    grid-template-rows:minmax(200px, auto-fit) ;
    grid-template-columns:minmax(200px, auto-fit) ;
    align-content: baseline;
}//tablet
}
#aboutGrid1{
  @include tablet{ 
 grid-row: 1/2;
  }
}
#aboutGrid2{
    @include tablet{ 
    grid-row: 2/3;
    }
}
#aboutGrid3{
    @include tablet{ 
    grid-row: 3/4;
    }
}
#aboutGrid4{
    @include tablet{ 
    grid-row: 4/5;
    }
}
#aboutGrid5{
    @include tablet{ 
    grid-row: 5/6;
    }
}
#aboutGrid6{
    @include tablet{ 
    grid-row: 6/7;
    }
}
#aboutGrid7{
    @include tablet{ 
    grid-row: 7/8;
    }
}
#aboutGrid8{
    @include tablet{ 
    grid-row: 8/9;
    }
}
#aboutGrid9{
    @include tablet{ 
    grid-row: 9/10;
    }
}
#aboutGrid10{
    @include tablet{ 
    grid-row: 10/10;
    }
}

#cvLetoltesDiv{
    grid-column:span 2;
    grid-row:span 2;
    align-self: center;
    justify-content: center;
    #cvAboutAcordion{
        flex-direction: column;
        max-height: fit-content;
    margin: 5px;
    padding: 10px;
    }

}