//mindne  a navigationben van


/*#fronthead{
    grid-template-rows: 10fr;
    div{
        grid-row:1fr;
    }
}*/


//from here the normal navigations except the "rolam" page


//nav
/*
#site-navigation.site-navigation{
    display:flex;
    flex: 1 1 100%;
    flex-direction: row;
    #hamburgerButton{
    display:none;
    @include mobile{
        display:grid;
        grid-template-columns: max-content(1fr);
        grid-column: 1/1;
    }
    }
} //#site-navigation vagy nav


/*
nav#site-navigation{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    
    justify-content: center;
    align-items: center;
    max-width: 80%;
        margin: 0 auto;
    grid-column: 2/3;
    
    @include mobile{margin:0 auto;}
}    
  //nav#site-navigation

*/




/*esetleg email ikon lehetne
#masthead nav div:nth-child(5){ 
    grid-column:6/7;
button#calendarButton{
    max-width: fit-content;
    max-height:9vh;
    width: auto;
    
}}

#fronthead nav div:nth-child(4){ 
/*
button#calendarButton{
    max-width: fit-content;
    max-height:9vh;
    width: auto;
    margin-bottom:3vh;
    

}}
*/


/*
#primary-menu-all{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile{
        display:none;
    }
}

div#menu-primary-all{
   
 grid-column: 3/6;}
*/