




<footer class="site-footer"><p>Dr. Zsigmond Réka</p><p><i class="far fa-copyright"></i>Copyright 2021 </p><p>email: drzsigmondre'kukac'gmail.com</p></footer>
</div> <!--#page .no-sidebar-->

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script  src="/node_modules/jquery-vide/dist/jquery.vide.min.js"></script>
<script src="/node_modules/vue/vue.min.js"></script>
<script src="/node_modules/particles/particles.min.js"></script>
<script src="/node_modules/particles/particles2.js"></script>
<script src="/js/card_app.js"></script>
<script src="/js/navigation.js"></script>
<script src="/js/siteMotions.js"></script>
<script src="/js/script.js"></script>
</body>
</html>