

$backgroundFrontImageUrl:url("../includes/img/backgroundHomeKicsAtmeret.jpg");


$placeholder:url(https://via.placeholder.com/350);

$url_logo:url("../includes/img/logoEgyKicsi.png");
$url_rolamKep:url("../includes/img/rolamKepKicsi.png");


$url_bg-green-python:url("../includes/img/green-bg.png");
$url_bg-snake:url("../includes/img/python.png");
$url_bg_java:url("../includes/img/java.png");
$url_bg-c:url("../includes/img/cSharp.jpg");
