

$backgroundFrontImageUrl:url("../includes/img/backgroundHomeKicsAtmeret.jpg");


$placeholder:url(https://via.placeholder.com/350);

$url_logo:url("../includes/img/logoEgyKicsi.png");
$url_rolamKep:url("../includes/img/rolamKepKicsi.png");

//backgrounds
$url_bg-green-python:url("../includes/img/green-bg.png");
$url_bg-snake:url("../includes/img/python.png");
$url_bg_java:url("../includes/img/java.png");
$url_bg-c:url("../includes/img/cSharp.jpg");


$url_bg_horses:url("../includes/img/bg_grey_horse.jpg");
$url_bg-aboutPage:url("../includes/img/aboutHatter.jpg");

$url_bg_form:url("../includes/img/bg-form.jpg");

//cards:
$url_card_onis:url("../includes/img/munkak/onis.jpg");
$url_card_onis2:url("../includes/img/munkak/onis2.jpg");
$url_card_muv:url("../includes/img/munkak/muvesz.jpg");
$url_card_fogy:url("../includes/img/munkak/fogyi.jpg");
$url_card_tanTeka:url("../includes/img/munkak/tanteka.jpg");
$url_card_filmek:url("../includes/img/munkak/filmek.jpg");


//flags
$url_flag_hungary:url("..\\includes\\img\\ikonok\\Flag_of_Hungary.svg");
$url_flag_england:url("..\\includes\\img\\ikonok\\Flag_of_the_United_Kingdom.svg");


//magamról képek
$url_working_place:url("..\\includes\\img\\profil\\laptop-1280.jpg");
$url_lo_ego:url("..\\includes\\img\\profil\\lo_ego_croped.png");
$url_laptop_study:url("..\\includes\\img\\profil\\laptop-study-nagy.jpg");
$url_uton:url("..\\includes\\img\\profil\\utonKics.png");


//cv
$url_cv:url("includes\\docs\\Resume_Dr_Zsigmond_Reka_.pdf");