

$backgroundFrontImageUrl:url("../includes/img/backgroundHomeKicsAtmeret.jpg");


$placeholder:url(https://via.placeholder.com/350);

$url_logo:url("../includes/img/logoEgyKicsi.png");
$url_rolamKep:url("../includes/img/rolamKepKicsi.png");
